<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <p-dataTable [value]="list">
    <p-column field="id" header="id"></p-column>
    <p-column field="name" header="Name"></p-column>
      <p-column styleClass="col-button">
      <template pTemplate="header">
        <button type="button" pButton icon="fa-refresh" (click)="getall()"></button>
        <button type="button" pButton icon="fa-plus" (click)="show(false, null)"></button>
    </template>
     
  </p-column>
   
</p-dataTable>
</div>
